GraSP:
  exp_name: "scratch_vanilla"
  network: fc
  depth: 2
  dataset: mnist
  batch_size: 64
  epoch: 10
  learning_rate: 0.001
  weight_decay: 1e-4
  exception: -1
  iterations: 1
  normalize: false
  target_ratio: 0.95
  pruner: GraSP
  pruner_file: GraSP
  num_classes: 10
  samples_per_class: 10
  samples_batches: 5
  num_iters: 1

optimizer:
  name: SGD
  grad_sparsity: 0

scheduler:
  name: 'PresetLRScheduler'
  lr_schedule: {0: 1,
                10: 0.1,
                20: 0.01}

pretrained:
  incre: False
  load_model_path: './runs/pruning/mnist/fc/ZO_SCD_mask/GraSP/scratch_95_grad0.5_lr0.01/20230324-220530/run_None/finetune_mnist_fc2_r0.95_it0_best.pth.tar'
  pruned: True

run:
  runs: None
  n_epochs: 100
  batch_size: 32
  use_cuda: 1
  gpu_id: 0
  deterministic: 1
  log_interval: 200
  train_noise: 0

model:
  tensorized: False

checkpoint:
  save_model: "model/MNIST_notensor_2layers_FP32"
  save_mode: "best"
  proj_share_weight: 1
  label_smoothing: 1
